$background: #24292e;
$header: #14191e; 
$text: #eee;
$subtext: #939393;
$highlight: #14191e;
$accent: #00b6e5;


body {
    background-color: $background;
    color: $text;
}

#logo, .main-nav-link, a.article-title, 
p, #page-nav a, .archive-article-title,
#main-nav-toggle, .article-entry,
.article-toc li a, .tag-cloud a,
.article-footer a:hover {
    color: $text;
}

a.article-title:hover, a.article-date:hover,
a.archive-article-title:hover, #footer a:hover,
#page-nav > a:hover, .tag-cloud a:hover,
a:hover {
    border-bottom-color: $text;
}

.article-entry a {
    border-bottom: none;
}

.article-entry a:hover {
    border-bottom: 1px dotted $accent;
}

#page-nav .current {
    background-color: $accent;
}

a, .article-entry a, .article-more-link a, #footer-info a {
    color: $accent;
}

.article-nav-link-wrap {
    text-shadow: 0 1px #222;
    color: $accent;
    text-align: center;
}

.article-nav-link-wrap:hover {
    color: $text;
}

#header {
    background-color: $header;
    border-bottom: 1px solid #222;
}

div.highlight, pre, .article-entry code {
    background-color: $highlight !important;
    scrollbar-color: $accent $highlight;
}

.article, .article-date {
    border-bottom: 1px solid $header;
}

.archives {
    border-left: 1px solid $header;
}

.archive-article-inner:hover {
    border-left-color: $accent;
}

.article-meta a, .archive-article-date {
    color: $subtext;
}

.navbar {
    background-color: $background;
    
}

.navbar-item, .navbar-link {
    color: $text;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: $text;
}